<div class="section">
  <p class="grey-text title center-align">
    <strong>Watch the highlights</strong>
  </p>

  <div class="embed-wrapper">
    <div class="embed-container">
      <iframe [src]="videoUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="section">
  <p class="grey-text text-darken-3 center-align">Tag your photos or tweets with #timandtina2018 to share them below:</p>

  <div class="wrapper">
    <iframe src='https://www.juicer.io/api/feeds/timandtina2018/iframe' frameborder='0' width='1000' height='1000' style='display:block;margin:0 auto;'></iframe>
  </div>
</div>