<!-- First block -->
<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="container">
      <div class="row">
        <p class="white-text overlay center-align">
          <strong>The biggest gift to us is your support and presence at our wedding</strong>
        </p>
      </div> <!-- /.row -->
      <div class="row">
        <p class="parallax-sub-text center-align">
          May 31, 2018 · Vrysoudion, Cyprus
        </p>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="./../../assets/bali01.jpg">
    </div>
  </div>
</div> <!-- /.parallax-container -->

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">
      Please know that your company is the best gift you could provide, and please do not feel obligated to give anything else.
    </h5>

    <p class="grey-text text-darken-3 lighten-3">
      As you may know, we moved to our new house in Shortlands at the end of last year, and it is already filled with all the things
      we could ever need to make it a home. But for those who have expressed an interest, we are very much looking forward
      to our dream honeymoon and
      <a href="https://www.johnlewisgiftlist.com/giftint/guestpassword?17538251980&giftListNumber=738924"
        (click)="sendEvent()"
        target="_blank" class="link">any contribution</a> towards that will always be greatly appreciated.
    </p>
  </div>
</div>

<!-- Second block -->
<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="container">
      <div class="row">
        <p class="white-text overlay center-align">
          <strong>OUR HONEYMOON</strong>
        </p>
      </div>
      <div class="row">
        <p class="parallax-sub-text center-align">
          Bali, Indonesia
        </p>
      </div>
    </div>
    <div class="parallax parallax-overlay" materialize="parallax">
      <img src="./../../assets/bali02.jpg">
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">Gift List</h5>
    <br />
    <p class="grey-text text-darken-3 lighten-3">
      We have set up an account at
      <a href="https://www.johnlewisgiftlist.com/giftint/guestpassword?17538251980&giftListNumber=738924"
        (click)="sendEvent()"
        target="_blank" class="link">John Lewis</a>, should you wish to buy us a voucher that we can put towards our trip to Bali. However, please do not
      feel obliged to buy us a gift; all we really want for our special day is to have you there to celebrate with us.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Thank you.
    </p>
  </div>
</div>

<!-- Third block -->
<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="./../../assets/bali03.jpg">
    </div>
  </div>
</div>

<div class="section grey darken-4 valign-wrapper">
  <div class="container center-align">
    <p class="white-text contact-details">Contact us with any questions at
      <a href="mailto:timhyson@email.com" class="link">timhyson@email.com</a>
    </p>
  </div>
</div>