<nav class="white">
  <div class="nav-wrapper">
    <a *ngIf="wedding" href="#" class="page-title black-text">{{wedding.name | uppercase}}</a>

    <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions"
    data-activates="nav-mobile" class="button-collapse hide-on-large-only">
      <i class="material-icons grey-text">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active"><a class="black-text" [routerLink]="menuItem.route">{{ menuItem.name | uppercase }}</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a ><i class="material-icons" (click)="close()">close</i></a>
      </li>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active"><a class="black-text" [routerLink]="menuItem.route" (click)="close()">{{ menuItem.name | uppercase }}</a></li>
      <div class="divider">

      </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>