<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="container">
      <div class="row">
        <p class=" white-text overlay center-align">
          <strong>half the fun of travel is the aesthetic of lostness</strong>
        </p>
      </div> <!-- /.row -->
      <div class="row">
        <p class="parallax-sub-text center-align">
          but if you want a few recommendations...
        </p>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="./../../assets/polaroid02.jpg">
    </div>
  </div> <!-- /.valign-wrapper -->
</div> <!-- /.parallax-container -->

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g5324635-d1515921-Reviews-Taverna_Mousikos-Sotira_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Taverna Mousikos</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      Kyriakou Matsi 6, Sotira 5390, Cyprus
    </p>
    <p>
      <a href="tel:+35723828833">+357 23 828833</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g5324635-d1172098-Reviews-To_Ploumin-Sotira_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">To Ploumin</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      28 Oktovriou no. 3, Sotira 5390, Cyprus
    </p>
    <p>
      <a href="tel:+3579965833">+357 99 658333</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g1759109-d2020463-Reviews-Potamos_Fish_Taverna-Liopetri_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Potamos Fish Taverna</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      Potamos Liopetri, Liopetri, Cyprus
    </p>
    <p>
      <a href="tel:+35799388844">+357 99 388844</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g667803-d2697515-Reviews-Kalamies_Restaurant-Protaras_Paralimni_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Kalamies Restaurant</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      Ellinon 40, Protaras, Paralimni 5295, Cyprus
    </p>
    <p>
      <a href="tel:+35723831145">+357 23 831145</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g4366545-d9741451-Reviews-O_Dikos_Mas_Mezes-Deryneia_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">O Dikos Mas Mezes</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      Athinon 2 Deryneia, Deryneia 5380, Cyprus
    </p>
    <p>
      <a href="tel:+35723827700">+357 23 827700</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g667803-d4153615-Reviews-Thomas_Shack-Protaras_Paralimni_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Thomas' Shack</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      17, Pernera Avenue, Protaras, Paralimni, Cyprus
    </p>
    <p>
      <a href="tel:+35799344925">+357 99 344925</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g667803-d1137417-Reviews-Mojito_Bar_Grill-Protaras_Paralimni_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Mojito Bar & Grill</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      18 Aphrodite Street, Protaras, Paralimni 5296, Cyprus
    </p>
    <p>
      <a href="tel:+35799098110">+357 99 098110</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g190385-d2236256-Reviews-Faliros-Paralimni_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Faliros</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      67 Kennedy Avenue, Paralimni, Cyprus
    </p>
    <p>
      <a href="tel:+35723744499">+357 23 744499</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g190385-d8360949-Reviews-Sirena_Bay_Bar_Restaurant-Paralimni_Famagusta_District.html"
      target="_blank">
      <h5 class="story-header">Sirena Bay Bar & Restaurant</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      Vrysoudion 115 | Pernera, 53, Located Inbetween Pernera and Ayia Triada, Paralimni 5295, Cyprus
    </p>
    <p>
      <a href="tel:+35797776922">+357 97 776922</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://www.airbnb.co.uk/things-to-do/places/1783840" target="_blank">
      <h5 class="story-header">Zorbas 24hr Bakery and Coffee Shop</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      4 Kennedy Ave, Paralimni, Cyprus
    </p>
    <p>
      <a href="tel:+35723744537">+357 23 744537</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <a href="https://goo.gl/maps/xmYPL9ZH71K2" target="_blank">
      <h5 class="story-header">METRO Supermarket Paralimni</h5>
    </a>
    <p class="grey-text text-darken-3 lighten-3">
      12, Protara, Paralimni 5290, Cyprus
    </p>
    <p>
      <a href="tel:+35723300411">+357 23 300411</a>
    </p>
  </div> <!-- /.row -->
</div> <!-- /.section -->