<!-- First block -->
<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="container">
      <div class="row">
        <p class="white-text overlay center-align">
          <strong>WE'RE GETTING MARRIED</strong>
        </p>
      </div><!-- /.row -->
      <div class="row">
        <p class="parallax-sub-text center-align">
          May 31, 2018 · Vrysoudion, Cyprus
        </p>
      </div> <!-- /.row -->
      <div class="row">
        <div class="countdown">
          <p class="parallax-countdown center-align">
            {{ message }}
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="./../../assets/polaroid04.jpg">
    </div>
  </div>
</div><!-- /.parallax-container -->

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">Please join Tim and Tina on May 31, 2018 as we celebrate our wedding by the sea.</h5>
  </div>
</div>

<!-- Second block -->
<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="container">
      <div class="row">
        <p class="white-text overlay center-align">
          <strong>THE CEREMONY</strong>
        </p>
      </div>
      <div class="row">
        <p class="parallax-sub-text center-align">
          Agia Triada Beach
        </p>
      </div>
    </div>
    <div class="parallax parallax-overlay" materialize="parallax">
      <img src="./../../assets/polaroid03.jpg">
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">Dress Code</h5>
    <br />
    <p class="grey-text text-darken-3 lighten-3">We’re getting married on a beach, so the ground will be soft
      and the sun should be shining. Formal attire is not required! Feel free to dress in whatever makes you
      comfortable. The night can get a bit cooler, so you might want to bring something to throw on when the
      sun goes down!
    </p>
  </div>
</div>

<!-- Third block -->
<div class="parallax-container parallax-overlay">
  <div class="valign-wrapper h100">
    <div class="container">
      <div class="row">
        <p class="white-text overlay center-align">
          <strong>THE RECEPTION</strong>
        </p>
      </div>
      <div class="row">
        <p class="parallax-sub-text center-align">
            Aeyialos Beach Bar
        </p>
      </div>
    </div>
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="./../../assets/polaroid01.jpg">
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align schedule">
    <div class="col s12 m6">
      <h2 class="schedule-title">Ceremony</h2>
      <h3 class="schedule-sub-title">3.30pm</h3>
      <p>Agia Triada Beach</p>
      <p class="grey-text text-darken-3 lighten-3">Vrysoudion, Paralimni</p>
    </div>
    <div class="col s12 m6">
      <h2 class="schedule-title">Reception</h2>
      <h3 class="schedule-sub-title">4.30pm</h3>
      <p>Aeyialos Beach Bar</p>
      <p class="grey-text text-darken-3 lighten-3">79, 5295, Am/stos, Vrysoudion, Paralimni</p>
    </div>
  </div>
</div>

<div class="section grey darken-4 valign-wrapper">
  <div class="container center-align">
    <p class="white-text contact-details">Contact us with any questions at <a href="mailto:timhyson@email.com" class="contact">timhyson@email.com</a></p>
  </div>
</div>