<div class="parallax-container">
  <p class="white-text right-align header">
    lobortis feugiat vivamus
  </p>
  <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">
      Lorem ipsum dolor sit amet
    </h1>
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="https://images.unsplash.com/photo-1470320691330-ae8e9288fb77?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">pretium quam vulputate dignissim suspendisse</h5>
    <br />
    <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Diam vel quam elementum pulvinar etiam non. Nibh sed pulvinar proin gravida hendrerit lectus a. Non nisi est sit amet
      facilisis. Tristique senectus et netus et malesuada fames.</p>
  </div>
</div>

<div class="parallax-container">
  <p class="white-text right-align header">
  </p>
  <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">
      etiam tempor orci eu lobortis
    </h1>

    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="https://images.unsplash.com/photo-1470322450444-8ccc64987ccf?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
    </div>
  </div>
</div>
<div class="parallax-container">
  <p class="white-text right-align header">
  </p>
  <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">
      morbi tincidunt augue interdum velit
    </h1>

    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="https://images.unsplash.com/photo-1492176861288-6b481cfad893?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
    </div>
  </div>
</div>